@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: white;
}

main {
  height: 100vh;
  background: url("../slike/intro.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
main header {
  display: flex;
  justify-content: flex-end;
  background-color: #374249;
  align-items: center;
  height: 4rem;
}
main header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 60%;
}
main header ul a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
main header ul a:hover {
  text-decoration: underline;
}
main header .hamburger {
  background-color: #f38181;
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
}
main header .hamburger img {
  width: 60%;
  height: 60%;
  display: block;
  margin: auto;
}
main .header__greeting {
  padding: 2rem;
  margin-top: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.568);
}
main .header__greeting h1 {
  font-size: 4rem;
}

section {
  padding: 0 25%;
}

.first {
  display: flex;
  padding: 0 10%;
}
.first ul {
  display: flex;
  margin: 2rem 0;
  margin-left: auto;
}
.first ul a {
  color: #797979;
  text-decoration: none;
  padding: 1rem;
  margin-right: 2rem;
  border: 1px solid #797979;
  border-radius: 3rem;
}
.first ul a:hover {
  background: #797979;
  color: white;
}

.niches {
  background-color: #f3f7f9;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 60vh;
}
.niches .niches__points .point {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.niches .niches__points .point:hover .point__text {
  visibility: initial;
}
.niches .niches__points .point:hover img {
  opacity: 1;
}
.niches .niches__points .point img {
  width: 100px;
  border-radius: 100%;
  opacity: 0.6;
}
.niches .niches__points .point__text {
  visibility: hidden;
}
.niches .niches__points h4 {
  color: #797979;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.niches .niches__points span {
  color: #f38181;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.pricing h3 {
  color: black;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.pricing span {
  color: #797979;
  margin: 2rem 0;
}
.pricing table {
  border-collapse: collapse;
}
.pricing table .accent {
  background-color: #f38181;
  color: white;
}
.pricing table .dark {
  background-color: #374249;
  color: white;
  font-weight: bold;
}
.pricing td,
.pricing th {
  color: black;
  border: 1px solid black;
  padding: 1rem 3rem;
}
.pricing .invisible {
  visibility: hidden;
}
.pricing a {
  color: #797979;
  text-decoration: none;
  padding: 1rem;
  margin-right: 2rem;
  border: 1px solid #797979;
  border-radius: 3rem;
  margin-top: 2rem;
  display: none;
}
.pricing a:hover {
  background: #797979;
  color: white;
}

.contact {
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f7f9;
}
.contact input,
.contact textarea,
.contact select,
.contact option,
.contact h4 {
  color: black;
}
.contact h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.contact input {
  padding: 0.5rem;
}
.contact input[type=email] {
  margin-bottom: 1rem;
}
.contact .contact__container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.contact .contact__container form {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex: 0.7;
  padding: 2rem;
  background-color: #f38181;
  display: flex;
  flex-direction: column;
}
.contact .contact__container form .input_group {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.contact .contact__container form .input_group input {
  flex: 0.9;
}

footer {
  background-color: #374249;
  text-align: center;
  padding: 1rem;
}
footer span {
  color: #f38181;
}

@media screen and (max-width: 860px) {
  .contact .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact .contact__container form {
    align-self: initial;
    width: 100%;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 700px) {
  main {
    background: #374249;
    height: 60vh;
  }
  main header {
    flex-direction: column-reverse;
  }
  main header .hamburger {
    width: 100%;
    display: flex;
    align-items: center;
  }
  main header .hamburger img {
    margin: initial;
    width: 50px;
  }
  main header ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  main header ul li {
    margin-top: 2rem;
  }
  main .header__greeting {
    padding: 1;
  }
  main .header__greeting h1 {
    font-size: 3rem;
  }

  .contact iframe {
    max-width: 300px;
  }

  .pricing table {
    display: none;
  }
  .pricing a {
    display: block;
    margin: auto;
  }

  .first ul a {
    padding: 0.5rem;
    white-space: nowrap;
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }

  .niches {
    padding: 2rem 0.5rem;
  }
  .niches .niches__points .point {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .niches .niches__points .point .point__text {
    visibility: initial;
    text-align: center;
    margin-top: 1rem;
  }
  .niches .niches__points .point:nth-of-type(2) {
    flex-direction: column-reverse;
  }
}

/*# sourceMappingURL=style.css.map */
