@mixin link_button {
  color: $fontColor;
  text-decoration: none;
  padding: 1rem;
  margin-right: 2rem;
  border: 1px solid $fontColor;
  border-radius: 3rem;
  &:hover {
    background: $fontColor;
    color: white;
  }
}
