@import "./variables.scss";
@import "./mixins.scss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  color: white;
}

main {
  height: 100vh;
  background: url("../slike/intro.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: flex-end;
    background-color: $headFoot;
    align-items: center;

    height: 4rem;

    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      width: 60%;

      a {
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .hamburger {
      background-color: $accent;
      width: 5rem;
      height: 100%;
      display: flex;
      align-items: center;

      img {
        width: 60%;
        height: 60%;
        display: block;
        margin: auto;
      }
    }
  }

  .header__greeting {
    padding: 2rem;
    margin-top: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.568);
    h1 {
      font-size: 4rem;
    }
  }
}
section {
  padding: 0 25%;
}
.first {
  display: flex;
  padding: 0 10%;
  ul {
    display: flex;
    margin: 2rem 0;
    margin-left: auto;

    a {
      @include link_button;
    }
  }
}
.niches {
  background-color: $sectionBackground;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 60vh;

  .niches__points {
    .point {
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      &:hover {
        .point__text {
          visibility: initial;
        }
        img {
          opacity: 1;
        }
      }

      img {
        width: 100px;
        border-radius: 100%;
        opacity: 0.6;
      }
    }
    .point__text {
      visibility: hidden;
    }
    h4 {
      color: $fontColor;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    span {
      color: $accent;
    }
  }
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  h3 {
    color: black;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  span {
    color: $fontColor;
    margin: 2rem 0;
  }
  table {
    border-collapse: collapse;
    .accent {
      background-color: $accent;
      color: white;
    }
    .dark {
      background-color: $headFoot;
      color: white;
      font-weight: bold;
    }
  }

  td,
  th {
    color: black;
    border: 1px solid black;
    padding: 1rem 3rem;
  }
  .invisible {
    visibility: hidden;
  }
  a {
    @include link_button;
    margin-top: 2rem;
    display: none;
  }
}

.contact {
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $sectionBackground;

  input,
  textarea,
  select,
  option,
  h4 {
    color: black;
  }
  h4 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  input {
    padding: 0.5rem;
  }
  input[type="email"] {
    margin-bottom: 1rem;
  }

  .contact__container {
    display: flex;
    width: 100%;
    justify-content: space-around;

    form {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      flex: 0.7;
      .input_group {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        input {
          flex: 0.9;
        }
        justify-content: space-between;
      }
      padding: 2rem;
      background-color: $accent;
      display: flex;
      flex-direction: column;
    }
  }
}

footer {
  background-color: $headFoot;
  text-align: center;
  padding: 1rem;
  span {
    color: $accent;
  }
}

@media screen and(max-width: 860px) {
  .contact {
    .contact__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      form {
        align-self: initial;
        width: 100%;
        margin-top: 2rem;
      }
    }
  }
}

@media screen and(max-width: 700px) {
  main {
    background: $headFoot;
    height: 60vh;
    header {
      flex-direction: column-reverse;
      .hamburger {
        width: 100%;
        display: flex;
        align-items: center;

        img {
          margin: initial;
          width: 50px;
        }
      }
      ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        li {
          margin-top: 2rem;
        }
      }
    }
    .header__greeting {
      padding: 1;

      h1 {
        font-size: 3rem;
      }
    }
  }
  .contact {
    iframe {
      max-width: 300px;
    }
  }
  .pricing {
    table {
      display: none;
    }
    a {
      display: block;
      margin: auto;
    }
  }

  .first {
    ul {
      a {
        padding: 0.5rem;
        white-space: nowrap;
        font-size: 0.8rem;
        margin-right: 0.5rem;
      }
    }
  }

  .niches {
    padding: 2rem 0.5rem;
    .niches__points {
      .point {
        flex-direction: column;
        margin-bottom: 5rem;
        .point__text {
          visibility: initial;
          text-align: center;
          margin-top: 1rem;
        }
      }
      .point:nth-of-type(2) {
        flex-direction: column-reverse;
      }
    }
  }
}
