$accent: #f38181;
$headFoot: #374249;
$fontColor: #797979;
$titlesColor: #374249;
$hover: #cfd1d3;
$sectionBackground: #f3f7f9;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
